<%= link_to('Home Page', {controller: 'main', action: 'index'}) %> <br />

<div class="books create">
  <h2>Create Book</h2>

  <%= form_for(@book) do |f| %>
    <% # url: books_path, method: 'post' %>

    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons">
      <%= f.submit("Create Book") %>
    </div>

  <% end %>
</div>